

.main-body{
  margin: 0px;
}



#topimg
{
  
  position: absolute;
  top: -21%;
  image-resolution: 100%; /* Scale the image to fit its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 500px; /* Limit the maximum width */;
}


body, html{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #4A4A4A;
    height: 100%;
    margin: 0;
}

body{
  position: relative;
  
  top: 22.5%;
  left: 19%;
}


body {
  display: block;
  margin: 8px;
}



#login-button
{

  font-family: Arial;
  
  background-color: rgb(224, 57, 57);
  color: white;
  border: 0px;

  height: 8%;   width: 7.3%;

  
  position: absolute;

  margin-top: 12.9%;
  margin-left: 2.5%;
}

#user-name{


  font-size: 18px;

  height: 10%;    width: 27%;

  border-top: 0px;
  border-left: 0px;   border-right: 0px;

  border-bottom: 0.1px solid lightgray;
  position: absolute;
  outline: none;

  top: 6.4%;
  left: 2.8%;

}

#password{

  font-size: 18px;

  height: 10%;    width: 27%;

  border-top: 0px;
  border-left: 0px;   border-right: 0px;

  border-bottom: 0.1px solid lightgray;
  border-width: 0.1px;
  position: absolute;
  outline: none;

  top: 0%;
  left: 2.8%;

  margin-top: 8%;

}

.login_wrapper-inner
{
  height: 64%;
  width: 62%;


  border-top: 2px solid rgb(247, 240, 240);   border-bottom: none;
  border-left: 2px solid rgb(247, 240, 240);    border-right: 2px solid rgb(247, 240, 240);



}





.bot_column{
  position: absolute;

  height: 55%;

  top: 5%;
  left: 32.5%;

}

#login_credentials
{
  height: 30%;
  width: 20%;

  position: absolute;

  margin-top: 2%;
  margin-left: 2%;

  line-height: 1.8;
}


.login_password
{
  height: 15%;
  width: 13%;
  

  position: absolute;
  margin-left: 35%;
  margin-top: 2%;

  line-height: 1.8;


}



.login_credentials_wrap
{
  height: 40%;
  width: 62.3%;
  background-color: rgb(232, 226, 226);

  
}





.login_wrapper
{
  background-color:wheat;
  position: relative;
}









/*
homepage.html
*/

#welcome
{
  font-size: larger;
  text-align: center;
}


